In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model,model_selection

In [8]:
data=pd.read_csv("carprices.csv")
print(data)

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [9]:
dumvar=pd.get_dummies(data["Car Model"])
print(dumvar)

    Audi A5  BMW X5  Mercedez Benz C class
0         0       1                      0
1         0       1                      0
2         0       1                      0
3         0       1                      0
4         0       1                      0
5         1       0                      0
6         1       0                      0
7         1       0                      0
8         1       0                      0
9         0       0                      1
10        0       0                      1
11        0       0                      1
12        0       0                      1

In [10]:
s=list(set(data["Car Model"]))
for car in s:
    data[car]=dumvar[car]
del data["Car Model"]
del data["BMW X5"]
print(data)

    Mileage  Sell Price($)  Age(yrs)  Audi A5  Mercedez Benz C class
0     69000          18000         6        0                      0
1     35000          34000         3        0                      0
2     57000          26100         5        0                      0
3     22500          40000         2        0                      0
4     46000          31500         4        0                      0
5     59000          29400         5        1                      0
6     52000          32000         5        1                      0
7     72000          19300         6        1                      0
8     91000          12000         8        1                      0
9     67000          22000         6        0                      1
10    83000          20000         7        0                      1
11    79000          21000         7        0                      1
12    59000          33000         5        0                      1

In [13]:
x_train,x_test,y_train,y_test=model_selection.train_test_split(np.array(data[["Mileage","Mercedez Benz C class","Audi A5","Age(yrs)"]]),np.array(data["Sell Price($)"]),test_size=0.1)
reg=linear_model.LinearRegression()
reg.fit(x_train,y_train)
print(reg.score(x_train,y_train))

0.9435076347409166

In [51]:
print(reg.predict(x_test))

[23439.81042654 29361.61137441]