In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

In [2]:
data=pd.read_csv("titanic.csv")
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [3]:
del data["PassengerId"]
del data["Name"]
del data["Ticket"]
del data["Fare"]
del data["Cabin"]
del data["Sex"]
del data["Parch"]
del data["Embarked"]
print(data.head())

   Survived  Pclass   Age  SibSp
0         0       3  22.0      1
1         1       1  38.0      1
2         1       3  26.0      0
3         1       1  35.0      1
4         0       3  35.0      0

In [5]:
import math,statistics
age=list(data["Age"].copy())
for i in range(len(age)):
    if math.isnan(age[i]):
        age[i]=-1
        
while -1 in age:
    age.remove(-1)
x=statistics.median(age)

for i in range(len(data["Age"])):
    if math.isnan(data["Age"][i]):
        data["Age"][i]=x
        
print(data["Age"])

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5      28.0
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17     28.0
18     31.0
19     28.0
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26     28.0
27     19.0
28     28.0
29     28.0
       ...
861    21.0
862    48.0
863    28.0
864    24.0
865    42.0
866    27.0
867    31.0
868    28.0
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878    28.0
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [6]:
model=tree.DecisionTreeClassifier()
model.fit(data[["Pclass","Age","SibSp"]],data["Survived"])
print(model.predict([[1,50,0]]))

[0]